.menu {
    &-wrap {
        display: flex;
        align-items: center;
    }

    &-item {
        &:not(:last-child) {
            margin-right: rem(34px);
        }
    }

    &-link {
        color: $white;
        font-weight: bold;
        font-size: rem(16px);
        line-height: 2.3;
    }
}

@include mq('md', max) {
    .menu {
        &-item {
            &:not(:last-child) {
                margin-right: rem(18px);
            }
        }
    
        &-link {
            font-size: rem(13px);
            line-height: 1.6;
        }
    }
}